

<div id="team">
  <h1>This template was built with <i class="fa fa-heart"></i> by</h1>
  <ul class="list-inline text-center">
    <li>
      <img src="https://kitt.lewagon.com/placeholder/users/coughinbach" alt="" class="img-circle">
      <h3></h3>
        <i class="fa fa-github" aria-hidden="true"></i><%= link_to "Lola Hoffenbach", "https://github.com/coughinbach", class: "btn-profile" %>
    </li>
    <li>
      <img src="https://kitt.lewagon.com/placeholder/users/RoniSharabi" alt="" class="img-circle">
      <h3></h3>
        <i class="fa fa-github" aria-hidden="true"></i><%= link_to "Roni Sharabi", "https://kitt.lewagon.com/placeholder/users/RoniSharabi", class: "btn-profile" %>
    </li>
  </ul>
</div>
