<div id="team">
  <ul class="list-inline text-center">
    <li>
      <img src="https://kitt.lewagon.com/placeholder/users/coughinbach" alt="" class="img-circle">
      <h3>Lola Hoffenbach</h3>
      <%= link_to "Lola Hoffenbach", "https://github.com/coughinbach", class: "btn-profile" %>
    </li>
    <li>
      <img src="https://kitt.lewagon.com/placeholder/users/RoniSharabi" alt="" class="img-circle">
      <h3>Roni Sharabi</h3>
      <%= link_to "Roni Sharabi", "https://www.facebook.com/roni.sharabi.18", class: "btn-profile" %>
    </li>
  </ul>
</div>
